/* Fonts */

@font-face {
	font-family: 'Brandon-light';
	src: url('./assets/fonts/Brandon_light.eot');
	src: local('☺'), url('./assets/fonts/Brandon_light.woff') format('woff'), url('./assets/fonts/Brandon_light.ttf') format('truetype'), url('./assets/fonts/Brandon_light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Brandon-Regular';
	src: url('./assets/fonts/Brandon_reg.eot');
	src: local('☺'), url('./assets/fonts/Brandon_reg.woff') format('woff'), url('./assets/fonts/Brandon_reg.ttf') format('truetype'), url('./assets/fonts/Brandon_reg.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Brandon-Bold';
	src: url('./assets/fonts/Brandon_bold.eot');
	src: local('☺'), url('./assets/fonts/Brandon_bold.woff') format('woff'), url('./assets/fonts/Brandon_bold.ttf') format('truetype'), url('./assets/fonts/Brandon_bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Default */

body {
	background: none;
	font-family: 'Brandon-light';
}
.container {
	width:100%;
	padding:0px;
}

a, a:hover, .btnWrap .formBtn:hover, .btnWrap .formBtn, .checkBoxWrap, .checkBoxWrap.active, .membershipType.active, .membershipType, .membershipType .membershipTypeDetails, .membershipType.active .membershipTypeDetails, .formWrap .txtBox, .ng-invalid.ng-touched, .activefield, .errMsg, footer, .tabBreadcrumb, .tabBreadcrumb li::after, .restaurantMenu, .restaurantMenu li::after {
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition-timing-function: ease-in-out;
}
input, select, option, textarea {
	outline:none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
input[type='number'] {
    -moz-appearance:textfield;
}

/* Background */

.layout-bkd {
 /* background: url(./assets/img/bkd.jpg) no-repeat top center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  
	

	position: relative;
}

.pageLoader {
	background: #43a1b1; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #43a1b1 22%, #198699 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  #43a1b1 22%,#198699 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  #43a1b1 22%,#198699 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43a1b1', endColorstr='#198699',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index:10000;
}
.cssload-loader{
	position:absolute;
	width: 12px;
	height: 12px;
	left: 50%;
	top:50%;
	margin-left:-6px;
	margin-top:-6px;
	
	border-radius: 12px;
	background-color: rgb(255,255,255);
	transform-origin:	50% 50%;
		-o-transform-origin:	50% 50%;
		-ms-transform-origin:	50% 50%;
		-webkit-transform-origin:	50% 50%;
		-moz-transform-origin:	50% 50%;
	animation: cssload-loader 1.15s ease-in-out infinite;
		-o-animation: cssload-loader 1.15s ease-in-out infinite;
		-ms-animation: cssload-loader 1.15s ease-in-out infinite;
		-webkit-animation: cssload-loader 1.15s ease-in-out infinite;
		-moz-animation: cssload-loader 1.15s ease-in-out infinite;
}

.cssload-loader:before{
	content: "";
	position: absolute;
	background-color: rgb(255,255,255);
	top: 0px;
	left: -24px;
	height: 12px;
	width: 12px;
	border-radius: 12px;
}

.cssload-loader:after{
	content: "";
	position: absolute;
	background-color: rgb(255,255,255);
	top: 0px;
	left: 24px;
	height: 12px;
	width: 12px;
	border-radius: 12px;
}

@keyframes cssload-loader{
		0%{transform:rotate(0deg);}
		50%{transform:rotate(180deg);}
		100%{transform:rotate(180deg);}
}

@-o-keyframes cssload-loader{
		0%{-o-transform:rotate(0deg);}
		50%{-o-transform:rotate(180deg);}
		100%{-o-transform:rotate(180deg);}
}

@-ms-keyframes cssload-loader{
		0%{-ms-transform:rotate(0deg);}
		50%{-ms-transform:rotate(180deg);}
		100%{-ms-transform:rotate(180deg);}
}

@-webkit-keyframes cssload-loader{
		0%{-webkit-transform:rotate(0deg);}
		50%{-webkit-transform:rotate(180deg);}
		100%{-webkit-transform:rotate(180deg);}
}

@-moz-keyframes cssload-loader{
		0%{-moz-transform:rotate(0deg);}
		50%{-moz-transform:rotate(180deg);}
		100%{-moz-transform:rotate(180deg);}
}

/* Navigation */

.navbar{
	height: 250px;
	border: none;
	padding: 0 0 60px 0;
}
.navbar-brand{
	display: block;
	float: none;
	text-align: center;
	font-size: 55px;
	font-weight: 400;
	text-transform: uppercase;
	color: #fefaec;
	opacity: 0.8;
	margin: 30px 0 0 0;
	letter-spacing: 2px;
	font-family: 'Brandon-Regular';
}
.navbar-nav {
	text-align: center;
	width: 100%;
	margin: 27px 0 0 0;
}
.navbar-nav li{
	float: none;
	display: inline-block;
}
.navbar-nav > li > a{
	font-size: 24px;
	font-weight: 400;
	text-transform: uppercase;
	color: #fefaed;
	letter-spacing: 2px;
	margin: 0 10px;
	padding: 10px 35px;
	border-bottom: 1px solid transparent;
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus, .navbar-nav li.active > a{
	background: none;
	border-bottom: 1px solid #dedacd;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
	background: none;
}
.dropdown-menu{
	background: none;
	left: -11px;
	width: 500px;
    box-shadow: none;
    border: none;
    margin: 20px 0 0 0;
}
.dropdown-menu>li>a{
	color: #b2afa5;
	font-size: 20px;
	font-weight: 300;
	text-transform: uppercase;
}
.navbar-toggle .icon-bar {
	background:#fff;
}
/* Content Area */

.content-area{
	
}
/*.content-area h1{
	font-size: 40px;
	font-weight: 300;
	text-transform: uppercase;
	color: #fefaed;
	letter-spacing: 4px;
}
.content-area p{
	color: #fefaed;
	font-size: 18px;
	font-weight: 300;
	line-height: 30px;
	margin: 0 25%;
	letter-spacing: 2px;
	padding: 0 0 30px 0;
	word-break: break-all;
}
.vertical-divider{
	width: 1px;
	height: 150px;
	background: #b2afa5;
	margin: 60px auto;
	font-family: 'Brandon-light';
}
*/
.menu-close {
	width:50px;
	height:50px;
	margin:25px auto;
	background:url(./assets/img/close_icon.png) no-repeat center;
	cursor:pointer;
	display:none;
}
.tabContainerWrap {
	overflow:hidden;
	position:relative;
	display:none;
	/*-webkit-transition: height 2s;
	transition: height 2s;*/
	-webkit-box-shadow: 0 0 5px 5px rgba(55,55,55,0.3);
	box-shadow: 0 0 5px 5px rgba(55,55,55,0.3);
}
.tabWrap, .pageWrap {
	background: #fefaed;

	-webkit-box-shadow: 0 0 5px 5px rgba(55,55,55,0.3);
	box-shadow: 0 0 5px 5px rgba(55,55,55,0.3);
	
	text-align: center;
	padding: 0px 30px 80px 30px;
	position:absolute;
	left:0px;
	right:0px;	
	z-index:0;
}
.tabWrap.active {
	z-index:100;
	/*-webkit-transition: top 2s;
	transition: top 2s;*/
}
.pageWrap {
	display:none;
	position:fixed;
	top:0;
	bottom:0;
	overflow:auto;
}
.pageWrap.active {
	z-index:1001;
	display:block;
}
.pageWrapLogo {
	position:absolute;
	left:0;
	right:0;
	top:50px;
	text-align:center;
}

.tabContainerWrap .tabWrap:first-child {
	position:static;
}
.tabWrap.light {
	background: #fefaed;
	color:#424b4d;
}
.tabWrap.blue {
	background: #42a0b0;
	color:#ffffff;
}

.tabClose, .saveMsgClose, .backBtn, .pageClose {
	position:absolute;
	right:20px;
	top:20px;
	width:30px;
	height:30px;
	cursor:pointer;
}
.tabClose {
	top:95px;
}
.backBtn {
	top:95px;
	right:auto;
	left:20px;
}
.tabClose:after, .saveMsgClose:after, .backBtn:after, .pageClose:after {
	content:'';	
	width:28px;
	height:2px;
	float:left;
	margin-top:-2px;
	
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	
}
.tabClose:before, .saveMsgClose:before, .backBtn:before, .pageClose:before {
	content:'';	
	width:28px;
	height:2px;
	
	float:left;
	margin-top:14px;

	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);

}
.backBtn:after, .backBtn:before {
	width:14px;
}
.backBtn:after {
	margin-top:19px;
	margin-left:-14px;	
}
.backBtn:before {
	margin-top:9px;
}
.backBtn span {
	position:absolute;
	left:2px;
	right:4px;
	top:14px;
	height:2px;
}
.tabWrap.light .tabClose:before, .tabWrap.light .tabClose:after, .saveMsgClose:before, .saveMsgClose:after, .backBtn:before, .backBtn:after, .tabWrap.light .backBtn span {
	background:#b78644;
}
.tabWrap.blue .tabClose:before, .tabWrap.blue .tabClose:after, .tabWrap.blue .backBtn span, .pageClose:before, .pageClose:after {
	background:#ffffff;
}

h2 {
	font-family: 'Brandon-Bold';
	font-size:30px;
	margin:0px 0px 37px 0px;
	text-align:center;
	text-transform:uppercase;
	font-weight:bold;
	padding-top:91px;
}
h3 {
	font-family: 'Brandon-Bold';
}
.tabWrap.light h2 {
	color:#b78644;
}
.tabWrap.blue h2 {
	color:#ffffff;
}
.vertical-divider-1 {
/*	width: 3px;
	height: 112px;
	background: #b2afa5;
	margin: 32px auto;*/
	
	width: 3px;
	height: 110px;
	background:none;
	margin: 20px auto;

}
h5 {
	margin:32px 0px 93px 0px;
	font-size:20px;
	line-height:40px;
}
p {
	margin:32px 0px;
	font-size:20px;
	line-height:40px;
}
.pageMask {
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index:10000;
	display:none;
}
.formWrap {
	width:604px;
	height:31px;
	clear:both;
	margin:25px auto 55px auto;
}
.confirmationInnerWrap {
	width:604px;
	margin:0px auto;
}
.formLableWrap {
	width:604px;
	height:31px;
	clear:both;
	margin:25px auto 15px auto;
}
.formWrapLeft {
	float:left;
	width:290px;
}
.formWrapRight {
	float:right;
	width:290px;
}
.membershipTypeOuter {
	display:inline-block;
	vertical-align:top;
}
.membershipType {
	vertical-align:top;
	width:156px;
	height:156px;
	border:1px solid #b2afa5;
	font-size:15px;
	font-family: 'Brandon-Regular';
	text-transform:uppercase;
	position:relative;
	margin:5px;
	display:flex;
	justify-content:center;
	align-items:center;
	color:#b2afa5;
	
	
}
.membershipType input[type=radio] {
	position:absolute;
	left:0px;
	right:0;
	top:0;
	bottom:0;
	width:100%;
	height:100%;
	opacity:0;
	cursor:pointer;
}
.membershipType.active {
	-webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
	background:#ffffff;
	color:#b78644;

}
.membershipTypeDetails {
	display:none !important;
	opacity:0;
	
}
.memberTitle {
	font-size:14px;
}
.memberDesc {
	font-size:9px;
	margin-top:5px;
	text-transform:none;
	opacity:0.5;
}
.memberFee {
	font-size:20px;
	margin:15px 0px;
}
.membershipType.active > span {
	display:none !important;
}
.membershipType.active .membershipTypeDetails {
	display:block !important;
	opacity:1;
}
.selectetmembershipType {
	-webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
	background:#ffffff;
	color:#FFF;
	border:1px solid #bab7af;
	width:604px;
	margin:25px auto 55px auto;
	padding:15px 0;
	color:#b78644;
}
.tabBreadcrumb, .restaurantMenu {
	position:absolute;
/*	right:0;
	top:330px;*/
	list-style:none;
	padding:0px;
	padding-right:5px;
	
	position:fixed;
	top:50%;
	right:-300px;
	opacity:0;
	z-index:101;
}
.tabBreadcrumb.active, .restaurantMenu.active {
	right:0px;
	opacity:1;
}
.tabBreadcrumb li, .restaurantMenu li {
	list-style:none;
	height:30px;
	line-height:30px;
	font-size:12px;
	color:#b78644;
	padding-right:25px;
	position:relative;
	float:right;
	clear:both;
	overflow:hidden;
}
.restaurantMenu li {
	cursor:pointer;
}
.tabBreadcrumb li::after, .restaurantMenu li::after {
	content:"";
	width:25px;
	height:1px;
	background:#b78644;
	position:absolute;
	right:0;
	bottom:0;
}
.restaurantMenu li::after {
	height:3px;
}
.tabBreadcrumb li.active, .restaurantMenu li.active, .restaurantMenu li:hover {
	color:#b7864e;
	font-family: 'Brandon-Bold';
}
.tabBreadcrumb li.active::after, .restaurantMenu li.active::after, .restaurantMenu li:hover::after {
	background:#b7864e;
/*	width:auto;*/
	width:200px;
/*	right:0;*/
}
.tabBreadcrumb li .crumbMask, .restaurantMenu li .crumbMask {
	position:absolute;
	width:100%;
	top:0px;
	bottom:0px;
	left:0;
	background:#fefaed;
	z-index:1;
}
.btnWrap {
	clear:both;
/*	margin:0px -30px;*/
	position:absolute;
	left:0;
	right:0;
	bottom:0;
}
.tabWrap.active .btnWrap {
	position:fixed;
	bottom:0;
}
.continueMsg .btnWrap {
	position:static;
}
.dateFormWrap {
	float:left;
	width:31%;
	margin-left:2%;
}
.formWrapLeft .dateFormWrap:first-child {
	margin-left:0%;
	width:33%;
}
/*.temsInnerWrap {
	width:350px;
	margin:0 auto;
	padding-bottom:59px;
}*/
.temsInnerWrap h3 {
	font-size:15px;
	margin:32px 0px;
	font-weight:bold;
}

.temsInnerWrap p {
	font-size:15px;
	line-height:normal;
}
.temsInnerWrap .list-group {
	text-align:left;
	margin-left:2em;
}
.checkBoxWrap {
	width:18px;
	height:18px;
	display:inline-block;
	border:1px solid #b2afa5;
	vertical-align:middle;
	position:relative;
	margin-top:-8px;
}
.checkBoxWrap.small {
	width:13px;
	height:13px;	
}
.checkBoxWrap.active {
	border:1px solid #424b4d;
	background:#424b4d;
}
.checkBoxWrap input {
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	margin:0;
	padding:0;
	opacity:0;
	
}
.termsWrap {
	display:inline-block;
	margin:0px auto 32px auto;
	text-align:left;	
}
.tabWrap .termsWrap p {
	font-size:15px;
	margin:15px 0;
	line-height:normal;
}
.tabWrap a {
	color:#b2afa5;
}
.tabWrap a:hover {
	color:#424b4d;
	text-decoration:underline;
}

.saveMsg {
	padding:20px 50px;
	background:#ffffff;
	color:#b78644;
	font-size:20px;
	text-align:center;
	position:absolute;
	left:1px;
	right:1px;
	top:1px;
	display:none;
	z-index:1000;
}
.continueMsgPopup {
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background:rgba(0,0,0,0.5);
	display:none;
	z-index:1001;
}
.continueMsg {
	background:#fefaed;
	width:450px;
	text-align:center;
	position:absolute;
	left:50%;
	top:50%;
}
.continueMsg p {
	font-size:18px;
	color:#424b4d;
	margin-bottom:25px;
	margin-top:30px;
	padding:0px 15px;	
}
.leaveLink {
	color:#b2afa5;
	font-size:18px;
	cursor:pointer;
	padding:15px 0px;
	margin-bottom:15px;
	display:inline-block;
}


.formLableWrap label {
	color:#b2afa5;
	font-size:20px;
	display:block;
	text-align:left;
	margin:0;
	padding:0;
	font-weight:normal;
}
.formWrap .txtBox {
	margin:0;
	padding:0px;
	border:none;
	background:none;
	width:100%;
	color:#b2b0a6;
	font-size:20px;
	font-family: 'Brandon-light';
	border-bottom:1px solid #b2b0a6;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition-timing-function: ease-in-out;
}
.btnWrap .formBtn {
	height:80px;
	width:100%;
	font-size:15px;
	color:#b78644;
	font-family: 'Brandon-Regular';
	border:none !important;
	background:#ffffff;
	margin:0px;
	padding:0;
	opacity:1;
	display:block;
}
.btnWrap .formBtn.continueLink {
	width:275px;
	margin:0 auto;
}
.btnWrap .formBtn:hover {
	background:#424b4d;
	color:#fefaed;
}
.btnWrap .formBtn:disabled, .btnWrap .formBtn:disabled:hover {
/*    color:#b2afa5;
	background:none;*/
	opacity:0;
	display:none;
}
::-webkit-input-placeholder {
   color:#b2b0a6;
   opacity: 1;
}
:-moz-placeholder {
   color:#b2b0a6;
   opacity: 1;
}
::-moz-placeholder {
   color:#b2b0a6;
   opacity: 1;
}
:-ms-input-placeholder {  
   color:#b2b0a6;
   opacity: 1;
}
.activefield {
	color:#424b4d !important;
	border-bottom:1px solid #424b4d !important;		
}
.ng-invalid.ng-touched {
	color:#ab6d66 !important;
	border-bottom:1px solid #ab6d66;	
}
.ng-invalid.ng-touched::-webkit-input-placeholder {
   color:#ab6d66;
}
.ng-invalid.ng-touched:-moz-placeholder {
   color:#ab6d66;
}
.ng-invalid.ng-touched::-moz-placeholder {
   color:#ab6d66;
}
.ng-invalid.ng-touched:-ms-input-placeholder {  
   color:#ab6d66;
}
.errMsg {
  color:#ab6d66;
  font-size:12px;
  display:block;
  text-align:left;
  padding-top:10px;
}
.marginTop_15 {
	margin-top:15px;
}
.marginBot_15 {
	margin-bottom:15px;
}
.margin_0_auto {
	margin:0 auto;
}
.height_auto {
	height:auto;
}
.pages {
	min-height:1000px;
	position:relative;
}

.landingPage {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#43a1b1+22,198699+100 */
	background: #43a1b1; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #43a1b1 22%, #198699 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  #43a1b1 22%,#198699 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  #43a1b1 22%,#198699 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43a1b1', endColorstr='#198699',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	text-align:center;
	
	display:flex;
	justify-content:center;
	align-items:center;
}
.landingPage span {
	height:80px;
	line-height:80px;
	width:255px;
	font-size:15px;
	color:#ffffff;
	font-family: 'Brandon-Bold';
	border:2px solid #ffffff;
	margin:45px auto 0px auto;
	display:block;
	cursor:pointer;
}
.pageBg {
	background:#fefaed;
}
.secondPage {
	text-align:center;
	display:flex;
	justify-content:center;
	align-items:center;
}
.secondPage div {
	color:#b7864e;
	font-size:15px;
	line-height:40px;
	padding:60px 0px;	
}
.secondPage div .restaurantName {
	font-family: 'Brandon-Bold';
	font-size:30px;
	padding:0;
}
.secondPage div.stickyName {
	position:fixed;
	left:0;
	top:0;
	right:0;
	z-index:1;
}
.restaurantPage {
	padding-top:340px;
}
.restaurantMenuDesc, .temsInnerWrap {
	width:700px;
	margin:0px auto 0 auto;
	padding:0px 20px 70px 20px;
	background: #43a1b1; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #43a1b1 22%, #198699 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  #43a1b1 22%,#198699 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  #43a1b1 22%,#198699 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43a1b1', endColorstr='#198699',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	border: 1px solid #6d6b63;

	-webkit-box-shadow: 0 0 5px 5px rgba(55,55,55,0.3);
	box-shadow: 0 0 5px 5px rgba(55,55,55,0.3);
	
	color:#FFFFFF;
	text-align:center;
	z-index:1;
	position:relative;
}
.temsInnerWrap {
	margin-top:154px;
}
.restaurantMenuDesc h2 {
	font-family:'Brandon-light';
	font-size:20px;
}
.restaurantMenuDesc .vertical-divider-1 {
	background:#abaea6;
	width:1px;
}
.restaurantMenuDesc p {
	line-height:normal;
	font-size:15px;
}
footer {
	height:75px;
	line-height:75px;
	background:#FFFFFF;
	position:fixed;
	left:0;
	right:0;
	bottom:-75px;
	color:#b78644;
	font-size:15px;
	opacity:0;
	z-index:2;
}
footer.active {
	bottom:0;
	opacity:1;
}
footer .footerSection {
	width:33%;
	display:inline-block;
	vertical-align:top;
	text-align:center;
}
footer .footerSection  a {
	color:#b78644;
	margin:0px 5px;
}
.desktop {
	display:block !important;
}
.mobile {
	display:none !important;
}



.restaurantMenuMobileOuterWrap {
	overflow:hidden;
	height:100px;
	display:none;
}
.restaurantMenuMobileWrap {
	padding-top:50px;
	position:relative;
	height:50px;
	margin:0 auto;
	width:1px;	
}
.restaurantMenuMobile {
	height:50px;
	padding:0;
	margin:0;
	list-style:none;
	position:absolute;
	left:0;
	top:50px;
	width:0;

	transition-property: transform;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;

	/*apply a transform to kick in the hardware acceleration.  Without this, the first
	time we add the transform you get odd rendering of the divs (half missing) */
	transform: translate(0, 0);
}

.restaurantMenuMobile li {
	float:left;
	height:50px;
	line-height:50px;
	font-size:15px;
	margin:0;
	list-style:none;
	padding:0px 15px;
	color:#b2afa5;

	/*apply a transform to kick in the hardware acceleration.  Without this, the first
	time we add the transform you get odd rendering of the divs (half missing) */
	transform: translate(0, 0);
}
.restaurantMenuMobile li.active {
	color:#FFF;
}


@media (max-width: 1024px) {
	.navbar-nav > li > a {
		padding:10px 25px;
	}
}
@media (max-width: 1000px) {
	.navbar-nav > li > a {
		padding:10px 0px;
	}
	.restaurantMenuDesc {
		width:450px;		
	}
	
}
@media (max-width: 850px) {
	.tabBreadcrumb {
		padding:0;
	}
	.tabBreadcrumb li {
		width:25px;
		overflow:hidden;
		text-indent:-1000px;
		height:17px;
	}
	.tabBreadcrumb li::after {
		width:15px;
		height:2px;
	}
	.tabBreadcrumb li.active::after {
		width:25px;
		right:0;
		left:auto;
	}
	.membershipType {
		margin:5px 0;
	}
	footer {
		font-size:12px;
	}
}
@media (max-width: 767px) {
	.desktop {
		display:none !important;
	}
	.mobile {
		display:block !important;
	}

	.navbar-collapse {
		-webkit-transition:height 3s , opacity 1s ;
		transition: height 3s , opacity 1s ;
		opacity: 0;
	}
	.navbar-collapse.in {
		opacity: 1;	
	}
	.container > .navbar-collapse {
		background:#fefaed;
		position:fixed;
		top:0;
		left:0;
		right:0;
		bottom:0;
		overflow:auto;
	}
	.menu-close {
		display:block;
	}
	.navbar-nav {
		margin-top:25px;
	}
	.navbar-nav > li {
		display:block;
	}
	.navbar-nav > li > a, .navbar-nav > li > a:hover, .navbar-nav > li > a:focus, .navbar-nav li.active a {
		border-bottom:none;
		color: #32322f;
		padding:25px 0px;
	}
	.tabClose, .backBtn {
		top: 10px;
	}
	.tabClose {
		right: 10px;
	}
	.backBtn {
		left:10px;
	}
/*	.tabWrap {
		padding-bottom:55px;
	}*/
	.tabWrap h2 {
		margin:0px 0 37px;
		padding-top:55px;
	}
	.vertical-divider-1 {
		height: 60px;
		margin: 20px auto;
	}
	.tabWrap h5 {
		margin: 32px 0 75px;
	}
	.formWrap {
		width:auto;
		height:auto;
		margin:0;
		margin-bottom:25px;
	}
	.formLableWrap {
		width:auto;
		height:auto;
	}
	.formWrapLeft, .formWrapRight {
		float:none;
		width:auto;
		height:60px;
		margin-bottom:25px;
	}
	.formWrapFull {
		height:60px;
		margin-bottom:25px;
	}
	.btnWrap .formBtn {
		font-size:13px;
	}
	.btnWrap .formBtn.continueLink {
		width:49%;
	}
	.tabBreadcrumb {
	    top: 230px;
		padding:0;
	}
	.membershipType {
		margin:5px;
	}
	.navbar {
		height:100px;
	}
	.saveMsg {
		display:none !important;
	}
	.selectetmembershipType {
		width:auto;	
	}
	.temsInnerWrap {
		width:auto;
		padding-bottom:23px;
	}
	.tabWrap.blue {
		background: #fefaed;
		color:#424b4d;
	}
	.tabWrap.blue h2 {
		color:#b78644;
	}
	.tabWrap.blue .tabClose:before, .tabWrap.blue .tabClose:after {
		background:#b78644;
	}
	.secondPage div.stickyName {
		position:static !important;
		left:0;
		top:0;
		right:0;
		z-index:1;
	}
	.restaurantPage {
    	padding-top: 0px;
	}
	.restaurantMenuDesc {
		width: auto;
	}
	.restaurantMenu {
		display:none !important;
	}
	footer {
		height:auto;
		background:#FFFFFF;
		position:static;
		position:relative;
		opacity:1;
		bottom:auto;
		
		display:flex;
		justify-content:center;
		align-items:center;
	}
	footer .footerSection {
		width:100%;
	}
	footer .footerSection p {
		font-size:15px;
	}
	footer .footerSection .vertical-divider-1 {
		background:#b78644;
		width:1px;
	}
	.restaurantMenuDesc {
		-webkit-box-shadow:none;
		box-shadow:none;
		border:none;
	}
	.pageWrap {
		padding:0;
	}
	.pageWrap .pageWrapLogo {
		display:none;
	}
	.temsInnerWrap {
		margin:0;
		border:none;
		background:none;
		-webkit-box-shadow:none;
		box-shadow:none;
		color:#424b4d;
	}
	.temsInnerWrap h2 {
		color:#b78644;
	}
	.temsInnerWrap .pageClose::before, .temsInnerWrap .pageClose::after {
		background:#b78644;
	}
	

	/* RESTAURANT FOR MOBILE DEVICES */
	.restaurantMenuMobileOuterWrap {
		display:block;
	}
	.restaurantDetailMobileOuterWrap {
		position:relative;
		overflow:hidden;
		margin:0px -20px;
	}
	.restaurantDetailMobileWrap {
		float:left;
		left:0;
		top:0px;
		width:0;
	
		transition-property: transform;
		transition-duration: 0.5s;
		transition-timing-function: ease-out;
	
		/*apply a transform to kick in the hardware acceleration.  Without this, the first
		time we add the transform you get odd rendering of the divs (half missing) */
		transform: translate(0, 0);
	}
	.restaurantDetailMobileWrap .setRestaurantMenu {
		float:left;
		padding:0px 20px;
	
		/*apply a transform to kick in the hardware acceleration.  Without this, the first
		time we add the transform you get odd rendering of the divs (half missing) */
		transform: translate(0, 0);
	}
	.restaurantDetailMobileWrap .setRestaurantMenu h2, .restaurantDetailMobileWrap .setRestaurantMenu .vertical-divider-1 {
		display:none;
	}
	.restaurantMenuDesc .vertical-divider-1 {
		background:#fff;
	}
	.confirmationInnerWrap {
		width:auto;
	}
}
@media (max-width: 639px) {
	.continueMsg {
		width:auto;
		left:0 !important;
		margin-left:0 !important;
		right:0;
	}
}
@media (max-width: 479px) {
	.navbar-brand {
		font-size:40px;
	}
	.tabWrap h2 {
	   	font-size: 25px;
	}
}